<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ /* site.title | */ escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>
</footer>
<script>
  function appendCSS(f1,f2){
    const link = document.createElement('link');
    link.rel = 'preload';
    link.as = 'style';
    link.crossOrigin = true;
    link.href = f1;
    link.onload = function() {
      this.rel = 'stylesheet';
    };
    if(f2){
      link.onerror = function() {
        this.href = f2;
      };
    }
    document.head.appendChild(link);
  }
  // 动态创建 字体样式
  appendCSS(
    'https://j.onlinetool.cc/gh/lgh06/web_resources_2025@cdn/dist/KingHwa_OldSong_max150k/result.css',
    'https://fastly.jsdelivr.net/gh/lgh06/web_resources_2025@cdn/dist/KingHwa_OldSong_max150k/result.css'
  );
  appendCSS(
    'https://fontsapi.zeoseven.com/309/main/result.css',
    'https://fontsapi-storage.zeoseven.com/309/main/result.css'
  );
  appendCSS(
    'https://fontsapi.zeoseven.com/293/main/result.css',
    'https://fontsapi-storage.zeoseven.com/293/main/result.css',
  );
  appendCSS(
    'https://gcore.jsdelivr.net/gh/lgh06/web_resources_2025@cdn/dist/LXGWWenKaiMonoGB_Regular_max100k/result.css',
    'https://j.onlinetool.cc/gh/lgh06/web_resources_2025@cdn/dist/LXGWWenKaiMonoGB_Regular_max100k/result.css',
  )
</script>
