<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ /* site.title | */ escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>
</footer>
<script type="module">

  let isBJTimeBetween0And18 = true;
  // 获取北京时间，如果在18点到24点之间，则把 isBJTimeBetween0And18 设置为 false
  try {
    // 创建一个使用北京时间（Asia/Shanghai）的日期对象
    const beijingTime = new Date().toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai' });
    const beijingHour = new Date(beijingTime).getHours();
    // 若北京时间在18点到24点之间，将 isBJTimeBetween0And18 设置为 false
    if (beijingHour >= 18 && beijingHour < 24) {
      isBJTimeBetween0And18 = false;
    }
  } catch (error) {
    console.error('获取北京时间时出错:', error);
  }
  function appendCSS(f1,f2){
    const link = document.createElement('link');
    link.rel = 'preload';
    link.as = 'style';
    link.crossOrigin = true;
    link.href = f1;
    link.onload = function() {
      this.rel = 'stylesheet';
    };
    if(f2){
      link.onerror = function() {
        this.href = f2;
      };
    }
    document.head.appendChild(link);
  }
  // 动态创建 字体样式
  if(isBJTimeBetween0And18){
    appendCSS(
      'https://j.onlinetool.cc/gh/lgh06/web_resources_2025@cdn/dist/KingHwa_OldSong_max150k/result.css',
      'https://fastly.jsdelivr.net/gh/lgh06/web_resources_2025@cdn/dist/KingHwa_OldSong_max150k/result.css'
    );
  }else{
    appendCSS(
      'https://js.onlinetool.cc/gh/lgh06/web_resources_2025@cdn/dist/KingHwa_OldSong_max150k/result.css',
      'https://fastly.jsdelivr.net/gh/lgh06/web_resources_2025@cdn/dist/KingHwa_OldSong_max150k/result.css'
    );
  }
  appendCSS(
    'https://fontsapi.zeoseven.com/309/main/result.css',
    'https://fontsapi-storage.zeoseven.com/309/main/result.css'
  );
  appendCSS(
    'https://fontsapi.zeoseven.com/293/main/result.css',
    'https://fontsapi-storage.zeoseven.com/293/main/result.css',
  );
  appendCSS(
    'https://gcore.jsdelivr.net/gh/lgh06/web_resources_2025@cdn/dist/LXGWWenKaiMonoGB_Regular_max100k/result.css',
    'https://j.onlinetool.cc/gh/lgh06/web_resources_2025@cdn/dist/LXGWWenKaiMonoGB_Regular_max100k/result.css',
  )
</script>
